.countries-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-header {
  padding-top: 88px;
}

.header-section {
  width: 100%;
  text-align: center;
  background-color: #ff5294;
}

.country-list-header {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.country-card-container {
  background-color: #c0286f;
  box-sizing: border-box;
  -webkit-column-gap: 0.3%;
  column-gap: 0.3%;
  padding: 30px;
  row-gap: 3px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .country-card-container {
    cursor: pointer;
    padding: 0;
    width: 100%;
    margin: 0;
    column-gap: 0;
    row-gap: 0;
  }

  /* Add mobile-specific CSS styles here */
  .countries-wrapper {
    flex-direction: column;
  }

  .title-header {
    padding-top: 90px;
  }
}
